<?xml version="1.0"?>

<world name="world_stradibot" gravity="0.0 0.0 -1.0">

	<robot name="flexiv">
		<model dir="${STRADIBOT_FOLDER}/urdf_models/flexiv_violin" path="flexiv.urdf"
			name="flexiv" />
		<origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
	</robot>

	<static_object name="Base">
		<origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
		<visual>
			<origin xyz="0.0 0.0 -0.00635" rpy="0 0 0" />
			<geometry>
				<box size="5 5 0.0127" />
			</geometry>
			<material name="material">
				<color rgba="0.1 0.1 0.1 1.0" />
			</material>
		</visual>
		<collision>
			<origin xyz="0.0 0.0 -0.00635" rpy="0 0 0" />
			<geometry>
				<box size="5 5 0.0127" />
			</geometry>
		</collision>
	</static_object>

	<robot name="violin">
		<model dir="${STRADIBOT_FOLDER}/urdf_models/flexiv_violin" path="violin.urdf"
			name="violin" />
		<origin xyz="0.9 0.0 0.2" rpy="0 0 0" />
	</robot>

	<!-- <static_object name="Violin">
		<origin xyz="0.7 0.0 0.0" rpy="1.57 0 1.57" />
		<visual>
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<mesh filename="${STRADIBOT_FOLDER}/urdf_models/flexiv_violin/meshes/violin/violin.obj" scale="0.001 0.001 0.001"/>
			</geometry>
		</visual>
		<collision>
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				 <box size="0.3 0.1 0.05" /> 
				<mesh filename="${STRADIBOT_FOLDER}/urdf_models/flexiv_violin/meshes/violin/collision_violin.obj" scale="0.001 0.001 0.001"/>
			</geometry>
		</collision>
	</static_object> -->

	<!-- <dynamic_object name="Ball">
		<origin xyz="0.7 0.0 0.5" rpy="0 0 0" />
		<visual>
			<origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
			<geometry>
				<sphere radius="0.01" />
			</geometry>
			<material name="material_red">
				<color rgba="1.0 0.1 0.1 1.0" />
			</material>
		</visual>
		<collision>
			<origin xyz="0.0 0.0 0" rpy="0 0 0" />
			<geometry>
				<sphere radius="0.03" />
			</geometry>
		</collision>
		<inertial>
			<mass value="0.00" />
			<inertia ixx="1e-5" iyy="1e-5" izz="1e-5" ixy="0" ixz="0" iyz="0" />
		</inertial>
	</dynamic_object> -->


	<light name="light1" type="directional">
		<position xyz="2.0 -2.0 2.0" />
		<lookat xyz="0.0 0.0 0.0" />
	</light>

	<light name="light2" type="directional">
		<position xyz="2.0 2.0 2.0" />
		<lookat xyz="0.0 0.0 0.0" />
	</light>

	<camera name="camera_fixed">
		<position xyz="0.7  2.0 0.4"/>
		<lookat xyz="0.8  1.0 0.5" />
		<vertical xyz="0.0 0.0 1.0" />
	</camera>

</world>